<style>
.loading-container .loading{
    padding: 0px;
}
.backdrop{
    background: none;
}
.list a.item{
    padding: 10px;
    margin: 0px;
    min-height: 0px;
}
.item-select select{
    position: relative !important;
    direction: initial;
    padding:8px 0px;
    color: #aaa;
}
.cropArea {
    background: #ddd;
    width: 90%;
    height: 100px;
    margin: auto;
}
input {
    color: #989898 !important;
}
#fileInput {
    color: #fff !important;
}
.help-block, .error-msg{
    color: #ef473a !important;
    font-size: 9px !important;
    margin-top: 22px !important;
    position: absolute;
    left: 6%;
    top: 29%;
}
</style>
<ion-view view-title="Add vehicle">
    <ion-content class="im-wrapper2">
        <div class="row">
            <div class="col text-center">
                <h4>
                    Add vehicle information
                </h4>
            </div>
        </div>
        <!-- directive call -->
        <!--  ionic-autocomplete="{items: items, onSelect:onSelect}" -->
        <div class="row pad"> <!-- row start -->
            <div class="col pad">
                <form name="userForm" ng-submit="addCar()">
                <div class="list list-all">
                    <label class="item item-input item-stacked-label item-select">
                        <select ng-init="vehicle.type = 'car'" ng-model="vehicle.type">
                            <option value="truck">Truck</option>
                            <option value="car">Car</option>
                            <option value="bus">Bus</option>
                            <option value="bike">Bike</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="text" class="form-control" placeholder="Vehicle Name" ng-model="vehicle.name" name="vehiclename" required="" ng-class="{ 'has-error': myForm.vehiclename.$invalid && myForm.vehiclename.$dirty }" autocomplete="off">
                        <span ng-show="userForm.vehiclename.$invalid &amp;&amp; !userForm.vehiclename.$pristine" class="help-block ng-hide">vehicle name is required.</span>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="text" class="form-control" placeholder="Vehicle Model" ng-model="vehicle.model" name="vehiclemodel" required="" ng-class="{ 'has-error': myForm.vehiclemodel.$invalid && myForm.vehiclemodel.$dirty }" autocomplete="off">
                        <span ng-show="userForm.vehiclemodel.$invalid &amp;&amp; !userForm.vehiclemodel.$pristine" class="help-block ng-hide">Vehicle model is required.</span>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="date" class="form-control" placeholder="Manufacturing date" ng-model="vehicle.manufactured" name="firstdate" required="" >
                        <span ng-show="userForm.firstdate.$invalid &amp;&amp; !userForm.firstdate.$pristine" class="help-block ng-hide">Manufacturing date is required.</span>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="date" class="form-control" placeholder="Last service date" ng-model="vehicle.lastService" name="endingdate" required="">
                        <span ng-show="userForm.endingdate.$invalid &amp;&amp; !userForm.endingdate.$pristine" class="help-block ng-hide">Last service date is required.</span>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="file" id="fileInput" class="custom-file-input" ng-model="vehicle.imageupload" name="imageupload"/>
                    </label>

                    <!-- ng crop image code start here -->
                    <div class="row cropArea src-image-all" style="display:none;">
                        <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                    </div>
                    <!-- ng crop image code end here -->

                    <button style="margin-top: 5px;" type="submit" class="button button-small button-royal btn-block btn-rm" ng-disabled="userForm.$invalid || loginDisable" disabled="disabled">
                        Save
                    </button>
                </div>

                    
                </form>
            </div> <!-- col end -->
        </div> <!-- row end -->
    </ion-content>
</ion-view>