<ion-view view-title="Change Password">
    <ion-content class="im-wrapper2">
        <div class="row">
            <div class="col text-center">
                <h4>
                    Change password
                </h4>
            </div>
        </div>
        <div class="row pad"> <!-- row start -->
            <div class="col pad"> <!-- col start -->
                <form role="form" name="myForm" ng-submit="ChangePassword()">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                        <!-- <span class="input-label">Password</span> -->
                            <input class="form-control" type="password" id="password" name="password" ng-model="cdata.password" required="" placeholder="Password" ng-minlength="5" ng-maxlength="20">
                            <span ng-show="myForm.password.$error.required &amp;&amp; myForm.password.$dirty" class="error-msg ng-hide">
                                required
                            </span>
                            <span ng-show="myForm.password.$error.minlength" class="error-msg ng-hide">
                                Passwords must be between 5 and 20 characters.
                            </span>
                        </label>
                        <label class="item item-input item-stacked-label">
                        <!-- <span class="input-label">Confirm password</span> -->
                            <input class="form-control" type="password" id="verify" name="verify" ng-model="cdata.password_c"  placeholder="Confirm password" required nx-equal-ex="cdata.password">
                            <span class="error-msg" ng-show="myForm.verify.$error.required && myForm.verify.$dirty">Required!</span>
                            <span class="error-msg" ng-show="myForm.verify.$error.nxEqualEx">Passwords do not match.</span>
                        </label>
                    </div>
                    <button type="submit" name="go" class="button button-small button-royal btn-rm" ng-disabled="!myForm.$valid || loginDisable">Save</button>
                </form>
            </div> <!-- col end -->
        </div> <!-- row end -->
    </ion-content>
</ion-view>
