<style>
.loading-container .loading{
    padding: 0px;
}
.backdrop{
    background: none;
}
.list a.item{
    padding: 10px;
    margin: 0px;
    min-height: 0px;
}
.item-select select{
    position: relative !important;
    direction: initial;
    padding:8px 0px;
    color: #aaa;
}
.cropArea {
    background: #ddd;
    width: 90%;
    height: 100px;
    margin: auto;
}
input {
    color: #989898 !important;
}
#fileInput {
    color: #fff !important;
}
.help-block, .error-msg{
    color: #ef473a !important;
    font-size: 9px !important;
    margin-top: 22px !important;
    position: absolute;
    left: 6%;
    top: 29%;
}
</style>
<ion-view view-title="Edit profile">
    <ion-content class="im-wrapper2">
        <div class="row">
            <div class="col text-center">
                <h4>
                    Edit profile
                </h4>
            </div>
        </div>
        <!-- directive call -->
        <!--  ionic-autocomplete="{items: items, onSelect:onSelect}" -->
        <div class="row pad"> <!-- row start -->
            <div class="col pad">
                <form name="userForm" ng-submit="addCar()">
                <div class="list list-all">
                    <label class="item item-input item-stacked-label">
                        <input type="text" class="form-control" placeholder="First Name" ng-model="vehicle.firstname" name="firstname" required="" ng-class="{ 'has-error': myForm.firstname.$invalid && myForm.firstname.$dirty }" autocomplete="off">
                        <span ng-show="userForm.firstname.$invalid &amp;&amp; !userForm.firstname.$pristine" class="help-block ng-hide">First name is required.</span>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="text" class="form-control" placeholder="Last name" ng-model="vehicle.lastname" name="lastname" required="" ng-class="{ 'has-error': myForm.lastname.$invalid && myForm.lastname.$dirty }" autocomplete="off">
                        <span ng-show="userForm.lastname.$invalid &amp;&amp; !userForm.lastname.$pristine" class="help-block ng-hide">Last name is required.</span>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="email" class="form-control" placeholder="Email" ng-model="vehicle.email" name="email" required="" ng-class="{ 'has-error': myForm.email.$invalid && myForm.email.$dirty }" autocomplete="off" readonly=""/>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="password" class="form-control" placeholder="password" ng-model="vehicle.password" name="password" required="" ng-class="{ 'has-error': myForm.password.$invalid && myForm.password.$dirty }" autocomplete="off">
                        <span ng-show="userForm.password.$invalid &amp;&amp; !userForm.password.$pristine" class="help-block ng-hide">Password is required.</span>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="file" id="fileInput" class="custom-file-input" ng-model="vehicle.imageupload" name="imageupload" multiple/>
                    </label>

                    <!-- ng crop image code start here -->
                    <div class="row cropArea src-image-all" style="display:none;">
                        <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                    </div>
                    <!-- ng crop image code end here -->

                    <button style="margin-top: 5px;" type="submit" class="button button-small button-royal btn-block btn-rm" ng-disabled="userForm.$invalid || loginDisable" disabled="disabled">
                        Save
                    </button>
                </div>

                    
                </form>
            </div> <!-- col end -->
        </div> <!-- row end -->
    </ion-content>
</ion-view>