<style>
    a {
        color: #0866c6 !important;
    }

</style>
<ion-view view-title="Vehicle Garage">
    <ion-content class="im-wrapper">
        <!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher> -->
        <div class="row input-row pad-mar"> <!-- row start -->
            <div class="col pad-mar"> <!-- col start -->
                <input type="hidden" ng-model="text" type="text" placeholder="Search gdgd" class="input-pay-rent"/>
                <input ng-model="$parent.text" type="text" class="input-pay-rent" placeholder="Search shops..">
            </div> <!-- col end -->
        </div> <!-- row end -->

        
        
    </ion-content>
</ion-view>