<ion-view view-title="Rent App">
    <ion-content>
        <div class="row first-row"> <!-- first row start -->
            <div class="col col-60 apt-rent-main"> <!-- first col start -->
                <strong class="apt-rent">Apartment Rent</strong>
                <p class="apt-address">
                    <i class="ion-ios-location"></i>
                    <em>SH.Zayed Road,DUBAI</em></p>
            </div> <!-- first col end -->
            <div class="col col-40 apt-bill-main"> <!-- second col start -->
                <p class="apt-bill">$2,500</p>
                <button class="button button-small button-royal btn-apt">
                    PAY NOW
                </button>
            </div> <!-- second col end -->
        </div> <!-- first row end -->

        <div class="row second-row pad-mar text-center"> <!-- second row start -->
            <div class="col col-33 pad-mar paid-col"> <!-- first col start -->
                <strong class="str-color">$3,500</strong>
                <p class="pad-mar user-detailes">
                    <em>Paid</em>
                </p>
            </div> <!-- first col end -->
            <div class="col col-33 pad-mar over-due-col"> <!-- second col start -->
                <strong class="str-color">$500</strong>
                <p class="pad-mar user-detailes">
                    <em>Overdue</em>
                </p>
            </div> <!-- second col end -->
            <div class="col col-33 pad-mar remaining-col"> <!-- third col start -->
                <strong class="str-color">$935</strong>
                <p class="pad-mar user-detailes">
                    <em>Remaining</em>
                </p>
            </div> <!-- third col end -->
        </div> <!-- second row end -->

        <div class="row third-row" style="margin-top:0px;"> <!-- third row start -->
            <div class="col col-10 date-col"> <!-- first col start -->
                <p class="date-frm">24</p>
                <span class="mth-box">FEB<span>
            </div> <!-- first col end -->
            <div class="col col-75 second-col-months"> <!-- second col start -->
                <p>3 Months</p>
                <span>Paid using card ending 5432</span>
            </div> <!-- second col end -->
            <div class="col col-15" style="padding-top: 10px;"> <!-- third col start -->
                <strong class="str-color-amount">$935</strong>
            </div> <!-- third col end -->
        </div> <!-- third row end -->

    </ion-content>
</ion-view>
