<ion-view view-title="Property details">
    <!-- loading spinner -->
    <!--<ion-spinner ng-if="!insts.length" icon="ripple" class="spinner-assertive icon-loder"></ion-spinner>-->
    <!-- loading spinner -->
    <ion-content>
        <span ng-if="insts.length">
            <div class="row first-row"> <!-- first row start -->
                <div class="col col-60 apt-rent-main"> <!-- first col start -->
                    <h4 style="margin-bottom: 4px; text-transform: capitalize;">
                        {{ propertyname }}
                    </h4>
                    <p style="margin: 5px 0;">
                        <i class="ion-ios-location"></i>
                        <em>{{address}}</em>
                    </p>
                </div> <!-- first col end -->
            </div> <!-- first row end -->

            <!--next payment amount display section-->
            <div class="row"  ng-repeat="inst in insts |  orderBy:'count' | limitTo : 1 : begin" ng-if="insts.length > 0"
                 style="margin-top:0px;background: #FBFBFB; padding: 15px 10px;"> <!-- third row start -->
                <div class="col col-75">
                    <h5 style="color: #555;">
                        Next payment is <b>{{inst.dueamount | currency : "AED "}}</b>
                    </h5>
                </div>
                <div class="col col-25 second-col-btn"> <!-- second col start -->
                    <!-- <p>3 Months</p> -->
                    <a ng-if="$index+1 != 1" ng-disabled="true" ng-click="goForPayment(inst.tpId, inst.id)" class="button button-small btn-apt btn-red-cor" style="margin-top:5px;width:100%">
                        {{ inst.paymentstatus }}
                    </a>
                    <a ng-if="$index+1 == 1" ng-click="goForPayment(inst.tpId, inst.id)"
                       class="button button-small btn-apt button-positive" style="margin-top:5px;width:100%">
                        <!-- {{ inst.paymentstatus }} -->
                        Pay Now
                    </a>
                </div> <!-- second col end -->
            </div> <!-- third row end -->

            <div class="row second-row pad-mar text-center" style="margin-bottom: 15px;"> <!-- second row start -->
                <div class="col col-33 pad-mar paid-col"> <!-- first col start -->
                    <strong class="str-color">{{rentvalue}}</strong>
                    <p class="pad-mar user-detailes">
                        <em>Total rent</em>
                    </p>
                </div> <!-- first col end -->
                <div class="col col-33 pad-mar over-due-col"> <!-- second col start -->
                    <strong class="str-color">
    					<b ng-if="paymentcycle == 365"> Daily</b>
                        <b ng-if="paymentcycle == 52"> Weekly</b>
                        <b ng-if="paymentcycle == 1"> Monthly</b>
                        <b ng-if="paymentcycle == 3"> Quaterly</b>
                        <b ng-if="paymentcycle == 6"> Bi-Anually</b>
                        <b ng-if="paymentcycle == 12"> Anually</b>
    				</strong>
                    <p class="pad-mar user-detailes">
                        <em>Frequency</em>
                    </p>
                </div> <!-- second col end -->
                <!--<div class="col col-25 pad-mar remaining-col" style="    border-right: 1px solid #9b9b9b;background:#272727"> &lt;!&ndash; third col start &ndash;&gt;
                    <strong class="str-color">
    					 {{duemoney}}
    				</strong>
                    <p class="pad-mar user-detailes">
                        <em>Next payment</em>
                    </p>
                </div--> <!-- third col end -->
                <div class="col col-33 pad-mar remaining-col"> <!-- fourth col start -->
                    <strong class="str-color">{{duedate | date : "M/d/yy" : "UTC" }}</strong>
                    <p class="pad-mar user-detailes">
                        <em>End date</em>
                    </p>
                </div> <!-- fourth col end -->
            </div> <!-- second row end -->


            <div class="row third-row row-space-width" ng-if="pastdates.length == 0"
                 style="margin-top: 15px; background: #f5f5f5;"> <!-- third row start -->
                <div class="col">
                    <p style="text-align: center; margin: 6px 0;">Oops... ! You didn't pay rent yet... !</p>
                </div><!--end col-->
            </div> <!-- third row end -->

            <!-- upcoming  start-->
            <div class="row pad-mar" style="margin-top:15px;"> <!-- up comming row start -->
                <div class="col col-33 pad-mar up-cmng text-center"> <!-- up comming col start -->
                    <span class="up-cmng-span">Upcoming</span>
                </div> <!-- up comming col end -->
            </div> <!-- up comming row end -->

            <div class="row third-row row-space-width" ng-repeat="inst in insts |  orderBy:'count' | limitTo : 4 : begin" ng-if="insts.length > 0"
    			 style="margin-top:0px;background: #f5f5f5;"> <!-- third row start -->
                <!-- first col start -->
                 <div class="col col-10 date-col">
                    <p class="date-frm">{{inst.count}}</p>
                    <span class="mth-box">INS<span>
                </div>
                <!-- first col end -->

                <!-- first col start -->
                <!--<div class="col col-10 date-col check-col">
                    <label class="checkbox check-box">
                        <input type="checkbox">
                    </label>
                </div> -->
                <!-- first col end -->

                <div class="col col-40 second-col-months"> <!-- second col start -->
                    <!-- <p>3 Months</p> -->
                    <span>{{inst.inst | date : "MMM d, y" : "UTC" }}</span>
                </div> <!-- second col end -->
                <div class="col col-25" style="padding-top: 10px;"> <!-- third col start -->
                    <strong class="str-color-amount"> {{inst.dueamount | currency : "AED "}}</strong>
                </div> <!-- third col end -->
                <div class="col col-25 second-col-btn"> <!-- second col start -->
                    <!-- <p>3 Months</p> -->
                    <a ng-if="$index+1 != 1" ng-disabled="true" ng-click="goForPayment(inst.tpId, inst.id)" class="button button-small btn-apt btn-red-cor" style="margin-top:5px;width:100%">
                        {{ inst.paymentstatus }}
                    </a>
                    <a ng-if="$index+1 == 1" ng-click="goForPayment(inst.tpId, inst.id)" class="button button-small btn-apt btn-red-cor" style="margin-top:5px;width:100%">
                        <!-- {{ inst.paymentstatus }} -->
                        Pay Now
                    </a>
                </div> <!-- second col end -->
            </div> <!-- third row end -->
    		<div class="row third-row row-space-width" style="margin-top: 15px;background: #f5f5f5;" ng-if="insts.length == 0">
    			<div class="col">
    				<p style="text-align: center; margin: 6px 0;">Oops... ! No further payments</p>
    			</div>		
    		</div>

            <!-- == for previous ==== -->
            <div class="row pad-mar" style="margin-top: 15px;"> <!-- up comming row start -->
                <div class="col col-33 pad-mar up-cmng text-center"> <!-- up comming col start -->
                    <span class="up-cmng-span">Previous</span>
                </div> <!-- up comming col end -->
            </div> <!-- up comming row end -->

            <div class="row third-row row-space-width" ng-repeat="pastdate in pastdates | orderBy:'count':true | limitTo : 3 : begin" ng-if="pastdates.length > 0"
                 style="margin-top: 0px;background: #f5f5f5;"> <!-- third row start -->

                <!-- first col start -->
                <div class="col col-10 date-col">
                    <p class="date-frm">{{pastdate.count}}</p>
                    <span class="mth-box">INS<span>
                </div>
                <!-- first col end -->

                <!-- first col start -->
                <!--<div class="col col-10 date-col check-col">
                    <label class="checkbox check-box">
                        <input type="checkbox" ng-model="ShowPassport" ng-change="ShowHide()">
                    </label>
                </div>-->
                <!-- first col end -->

                <div class="col col-40 second-col-months"> <!-- second col start -->
                    <!-- <p>3 Months</p> -->
                    <span>{{pastdate.past | date : "MMM d, y" : "UTC"}}</span>
                </div> <!-- second col end -->
                <div class="col col-25" style="padding-top: 10px;"> <!-- third col start -->
                    <strong class="str-color-amount">{{pastdate.paidamount|currency:"AED "}}</strong>
                </div> <!-- third col end -->
                <div class="col col-25 second-col-btn"> <!-- second col start -->
                    <!-- <p>3 Months</p> -->
                    <button ng-disabled="true" class="button button-small button-royal btn-apt"  ng-if='pastdate.paystatus == "paid"' style="margin-top:5px;width:100%; color: #fff;background: #228B22 !important;">
                        {{pastdate.paystatus}}
                    </button>
                </div> <!-- second col end -->
            </div> <!-- third row end -->

            <!-- charts start here-->

            <!-- charts end here-->
        </span>
    </ion-content><!--end ion content-->
</ion-view><!--end ion view-->
