
<ion-view view-title="Service Request">
    <ion-content>
        <div class="row pad-mar"> <!-- row start -->
            <div class="col pad-mar"> <!-- col start -->
                <ion-list>
                    <a href="#/app/car-problem">
                        <ion-item>
                            Vehicle engine
                        </ion-item>
                    </a>
                    <a href="#/app/car-problem">
                        <ion-item>
                            Vehicle door
                        </ion-item>
                    </a>
                    <a href="#/app/car-problem">
                        <ion-item>
                            Vehicle tyre
                        </ion-item>
                    </a>
                    <a href="#/app/car-problem">
                        <ion-item>
                            Vehicle door
                        </ion-item>
                    </a>
                </ion-list>
            </div> <!-- col end -->
        </div> <!-- row end -->
    </ion-content>
</ion-view>
