<style>
    .tooltipster-base{
        margin: 15px 0px 0px -5px;
    }
    .tooltipster-default{
        border-radius: 5px;
        border: 1px solid #ddd;
        background: #fff;
        color: #0866c6 !important;
    }
    .tooltipster-default .tooltipster-content{
        font-size: 12px;
        padding: 3px 10px;
    }
    .item-thumbnail-left .item-content .item-image, .item-thumbnail-left .item-content>img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left>img:first-child {
        border-radius: 0%;
    }
    .button-small {
        padding: 2px 4px 1px !important;
        min-width: 28px;
        min-height: 30px;
        font-size: 12px;
        font-size: 11px !important;
    }
    .btn-view{
        border-color: #FFC601 !important;
        background-color: #FFC601 !important;
        color: #272727 !important;
        line-height: 0px !important;
        padding: 0px 5px!important;
        margin: 0px !important;
        min-height: 0px !important;
        height: 25px !important;
        border-radius: 0px;
        font-size: 10px !important;
        font-weight: bold;
        width: 100%;
    }

</style>
<ion-view view-title=" {{ vehicle.name }} details">
    <ion-content class="im-wrapper">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div class="row input-row pad-mar" ng-if="carArray.length"> <!-- row start -->
            <div class="col pad-mar"> <!-- col start -->
                <input type="hidden" ng-model="searchText" type="text" placeholder="Search Properties ..." class="input-pay-rent"/>
                <input ng-model="$parent.searchText" type="text" class="input-pay-rent" placeholder="Search vehicle..">
            </div> <!-- col end -->
        </div> <!-- row end -->
        <div class="row">
            <div class="col col-33">
                <img src="">
            </div>
        </div>

        <!-- -->
        <div class="row no-vehicle-found-row" style="margin-top: 10px;">
            <div class="col">
                <style>
                    .add-veh {
                        color: rgba(0, 0, 0, 0.79);
                        font-weight:bold;
                        line-height: 25px;
                    }
                    .add-veh i {
                        font-size: 30px;
                        text-align: center;
                        margin-left: 28px;
                        color: #FFC601;
                    }
                </style>
                <a href="#/app/add-vehicle" class="btn-add-vew add-veh">
                    <i class="ion-plus-circled"></i> <br />
                    <span>Add a Vehicle</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar ng-click="modal.hide()" class="bar-assertive">
            <div class="title title-center header-item" style="left: 63px;right: 63px; text-transform: capitalize; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                {{openCar.name}} details
            </div>
            <div class="close-btn">
                <span class="icon ion-close"></span>
            </div>
        </ion-header-bar>
        <ion-content class="text-center">
            <div>
                <div class="row">
                    <div class="col col-shadow">
                        <img style="width: 100%;" ng-src="{{ openCar.photo.url }}" height="200">
                        <h4 style="text-align: left; text-transform: capitalize;">
                            {{openCar.name}}
                        </h4>
                        <p style="text-align: left;">
                            Model is <b>{{ openCar.model }}</b>
                        </p>
                        <p style="text-align: left;">
                            Manufactured on <b>{{ openCar.manufactured.iso | date : 'MMM d yyyy' }}</b>
                        </p>
                        <p style="text-align: left;">
                            Last service on <b>{{ openCar.lastService.iso | date : 'MMM d yyyy' }}</b>
                        </p>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>


<!-- for request modal -->
<script id="request-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar ng-click="modal1.hide()" class="bar-assertive">
            <div class="title title-center header-item" style="left: 63px;right: 63px; text-transform: capitalize; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                Viewing service request
            </div>
            <div class="close-btn">
                <span class="icon ion-close"></span>
            </div>
        </ion-header-bar>
        <ion-content class="">
            <div ng-repeat="data in requests | orderBy: 'createdAt': reverse">
                <div class="row">
                    <div class="col col-shadow">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)">
                            <ion-slide ng-repeat="file in data.files">
                                <div class="slides">
                                    <img ng-src="{{ file.url }}" alt="slide1" height="200"/>
                                </div>
                            </ion-slide>
                        </ion-slide-box>
                        <p>
                            {{ data.description }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row no-vehicle-found-row" ng-if="noRequest">
                <div class="col">
                    <h4 class="text-center">No requests found.!</h4>
                    <a href="#/app/vehicle-problem" class="btn-add-vew">
                        <button class="button button-small button-assertive btn-view">
                            Add new request
                        </button>
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>


<!-- for add request modal -->
<script id="service-request.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar ng-click="modal2.hide()" class="bar-assertive">
            <div class="title title-center header-item" style="left: 63px;right: 63px; text-transform: capitalize; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                Requesting service
            </div>
            <div class="close-btn">
                <span class="icon ion-close"></span>
            </div>
        </ion-header-bar>
        <ion-content class="text-center">
            <div class="im-wrapper">
                <div class="row">
                    <div class="col">
                        <form name="userForm" ng-submit="sendProblem()">
                            <div class="list">
                                <label class="item item-input item-stacked-label item-select">
                                    <select ng-init="vehicle.type = ''" ng-model="vehicle.type">
                                        <option selected="selected" value="">Select vehicle</option>
                                        <option ng-repeat="data in vehicles" value="{{ data.objectId }}">
                                            {{ data.name }}
                                        </option>

                                    </select>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <textarea placeholder="Description" name"description" ng-model="vehicle.description" ng-class="{ 'has-error': userForm.description.$invalid && userForm.description.$dirty }" autocomplete="off" required=""></textarea>
                                    <span ng-show="userForm.description.$invalid &amp;&amp; !userForm.description.$pristine" class="help-block ng-hide">Description is required.</span>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <input type="file" id="fileUpload" class="custom-file-input" multiple/>
                                </label>
                            </div>
                            <button type="submit" class="button button-small button-royal btn-rm" ng-disabled="userForm.$invalid || loginDisable" disabled="disabled">
                                Send request
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>