<style type="text/css">
.help-block{
  top: 30%;
  left: 5%
}
</style>
<ion-view view-title="Vehicle problem">
    <ion-content>
        <div class="row">
          <div class="col text-center">
              <h4>
                  Vehicle problem
              </h4>
          </div>
        </div>
        <div class="row pad-mar"> <!-- row start -->
            <div class="col pad-mar"> <!-- col start -->
                <form name="userForm">
                  <div class="list">
                      <label class="item item-input item-stacked-label">
                        <input type="text" class="form-control" placeholder="Vehicle Name" ng-model="vehicle.name" name="vehiclename" required="" ng-class="{ 'has-error': myForm.vehiclename.$invalid && myForm.vehiclename.$dirty }" autocomplete="off">
                        <span ng-show="userForm.vehiclename.$invalid &amp;&amp; !userForm.vehiclename.$pristine" class="help-block ng-hide">vehicle name is required.</span>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <input type="text" class="form-control" placeholder="Vehicle Model" ng-model="vehicle.model" name="vehiclemodel" required="" ng-class="{ 'has-error': myForm.vehiclemodel.$invalid && myForm.vehiclemodel.$dirty }" autocomplete="off">
                        <span ng-show="userForm.vehiclemodel.$invalid &amp;&amp; !userForm.vehiclemodel.$pristine" class="help-block ng-hide">Vehicle model is required.</span>
                    </label>
                      <label class="item item-input item-stacked-label">
                          <textarea placeholder="Description" name"description" ng-model="car.description" ng-class="{ 'has-error': userForm.description.$invalid && userForm.description.$dirty }" autocomplete="off" required=""></textarea>
                          <span ng-show="userForm.description.$invalid &amp;&amp; !userForm.description.$pristine" class="help-block ng-hide">Description is required.</span>
                      </label>
                  </div>
                    <button type="submit" class="button button-small button-royal btn-rm" ng-disabled="userForm.$invalid || loginDisable" disabled="disabled">
                        Save
                    </button>
                </form>
            </div> <!-- col end -->
        </div> <!-- row end -->
    </ion-content>
</ion-view>
