<style type="text/css">
    .active {
        border-bottom: 2px solid #272727;
    }
    div.content {
        display: none;
    }
    div.content-active {
        display: block;
    }
    div.content2 {
        display: none;
    }
    div.content-active2 {
        display: block;
    }
</style>
<ion-view view-title=" {{ vehicle.name }} details">
    <div class="row tabs-row" id="tabs">
        <div rel="#1" class="tabe col col-25 active" ng-click="openDashBoard()">
            <span>
                <i class="ion-android-home"></i>
            </span> 
        </div>
        <div rel="#2" class="tabe col col-25">
            <span>
                <i class="ion-flash-off"></i>
            </span>  
        </div>
        <div rel="#3" class="tabe col col-25">
            <span>
                <i class="ion-bag"></i>
            </span>  
        </div>
        <div rel="#4" class="tabe col col-25">
            <span>
                <i class="ion-outlet"></i>
            </span>  
        </div>
    </div>
    <ion-content class="" style="top: 96px;">
        <!-- -->
        <div class="content content-active" id="1">
            <div class="row no-vehicle-found-row vie-det-img pad-mar pad-10">
                <div class="col fst-col">
                    <img ng-src="{{ vehicle.photo.url }}" style="margin-right: 10px;" width="80" height="70" >
                    <h4 style="margin-bottom: 5px;">
                        {{ vehicle.name }}
                    </h4>

                    <p style="margin: 0;">
                        {{ vehicle.model }}
                    </p>
                </div>
            </div>
            <div class="border-bot"></div>

            <div class="row no-vehicle-found-row vie-det-img pad-10">
                <div class="col col-10 check">
                    <i class="ion-checkmark-round"></i>
                </div>
                <div class="col col-90 check2" style="margin-left:10px;">
                    <p class="pad-mar">
                        <b>No Open Recalls Reported</b>
                    </p>
                    <p class="pad-mar">As of {{ vehicle.updatedAt | date : 'dd MMM yyyy' }}</p>
                </div>
            </div>

            <div class="border-bot"></div>

            <div class="row no-vehicle-found-row vie-det-img pad-10">
                <div class="col col-10 check">
                    <i class="ion-funnel"></i>
                </div>
                <div class="col check2" style="margin-left:10px;">
                    <p class="pad-mar">
                        <b ng-if="!vehicle.oilChange" style="color: red;">When {{ vehicle.name }} oil changed</b>
                        <b ng-if="vehicle.oilChange">
                            Oil change
                        </b>
                    </p>
                    <p ng-if="!vehicle.oilChange" class="pad-mar">
                        <input style="border: 1px solid #ddd; width: 100%; padding: 2px;" placeholder="enter last oil change date" type="date" class="" ng-model="oilChange" />

                        <button class="button button-positive button-small" ng-click="updateVehicle(oilChange, 'oilChange')">Update</button>
                    </p>
                    <p ng-if="vehicle.oilChange" class="pad-mar">As of {{ vehicle.oilChange.iso | date : 'dd MMM yyyy' }}</p>
                </div>
            </div>


            <div class="border-bot"></div>

            <div class="row no-vehicle-found-row vie-det-img pad-10">
                <div class="col col-10 check">
                    <i class="ion-log-in"></i>
                </div>
                <div class="col check2" style="margin-left:10px;">
                    <p class="pad-mar">
                        <b>Registration date</b>
                    </p>
                    <p ng-if="!vehicle.registration" class="pad-mar">
                        <input style="border: 1px solid #ddd; width: 100%; padding: 2px;" placeholder="enter last oil change date" type="date" class="" ng-model="registration" />

                        <button class="button button-positive button-small" ng-click="updateVehicle(registration, 'registration')">Update</button>
                    </p>
                    <p ng-if="vehicle.registration" class="pad-mar">As of {{ vehicle.registration.iso | date : 'dd MMM yyyy' }}</p>
                </div>
            </div>
            <div class="border-bot"></div>

            <div class="row no-vehicle-found-row vie-det-img pad-10">
                <div class="col col-10 check">
                    <i class="ion-checkmark-round"></i>
                </div>
                <div class="col col-90 check2" style="margin-left:10px;">
                    <p class="pad-mar yello-p">No Open Recalls Reported</p>
                </div>
            </div>
            <div class="border-bot"></div>

            <div class="row no-vehicle-found-row vie-det-img pad-10">
                <div class="col col-10 check">
                    <i class="ion-unlocked"></i>
                </div>
                <div class="col col-90 check2" style="margin-left:10px;">
                    <p class="pad-mar yello-p">No Open Recalls Reported</p>
                </div>
            </div>
            <div class="border-bot"></div>

            <div class="row no-vehicle-found-row vie-det-img pad-10">
                <div class="col col-10 check">
                    <i class="ion-checkmark-round"></i>
                </div>
                <div class="col col-90 check2" style="margin-left:10px;">
                    <p class="pad-mar yello-p">No Open Recalls Reported</p>
                </div>
            </div>
            <div class="border-bot"></div>

            <div class="row no-vehicle-found-row vie-det-img pad-10">
                <div class="col col-10 check">
                    <i class="ion-power"></i>
                </div>
                <div class="col col-90 check2" style="margin-left:10px;">
                    <p class="pad-mar yello-p">No Open Recalls Reported</p>
                </div>
            </div>
            <div class="border-bot"></div>
        </div><!-- first tab end -->

<!-- ======================= 2nd tab div ============ -->
        <div class="content" id="2">
            <!-- <div class="row">
                <div class="col">
                    <pre>
                        {{ request | json }}
                    </pre>
                </div>
            </div> -->
            <div style="border-bottom: 1px solid #ddd;" ng-repeat="request in request" class="row pad-10">
                <div class="col col-33">
                    <span>
                        {{ request.dateAfterServiceDone.iso | date : 'dd MMM yyyy' }}
                    </span>
                    <br>
                    <span>145,000</span>
                </div>
                <div class="col col-77">
                    <p class="p-one" style="font-size: 15px;">
                        <b>
                            {{ request.shopPointer.name }}
                        </b>
                    </p>
                    <p class="p-sec pad-mar">Failed emissions inspection</p>
                </div>
            </div>

            
        </div>
        <div class="content" id="3">
            <div class="row search-box">
                <div class="col">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search">
                    </label>
                </div>
            </div>

            <div class="row pad-mar">
                <div class="col pad-mar">
                    <div class="list card pad-mar list-cards">
                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-home"></i>
                            Enter home address
                        </a>
                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-ios-telephone"></i>
                            Enter phone number
                        </a>
                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-wifi"></i>
                            Enter wireless password
                        </a>
                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-card"></i>
                            Enter card information
                        </a>
                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-ios-telephone"></i>
                            Enter phone number
                        </a>
                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-wifi"></i>
                            Enter wireless password
                        </a>
                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-card"></i>
                            Enter card information
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="4">
            <div class="tabs-und-tab">
                <div class="row pad-mar">
                    <div class="col col-50 pad-mar">
                        <div rel="#111" class="tabe2 active2">
                            <p>
                                Normal Schedule
                            </p> 
                        </div>
                    </div>
                    <div class="col col-50 pad-mar">
                        <div rel="#222" class="tabe2">
                            <p>
                              Severe Schedule  
                            </p>  
                        </div>
                    </div>
                </div>
            </div>


            <div class="content2 content-active2" id="111">
                <div class="row pad-mar nrm-sch" ng-click="toggleGroup(group)">
                    <div class="col pad-mar col-90">
                        <span class="span-rate-1">345,000</span>
                        <span class="span-rate-2">Miles</span>
                    </div>
                    <div class="col pad-mar col-10">
                        <i ng-class="isGroupShown(group) ? 'ion-chevron-down' : 'ion-chevron-up'" style="float:right"></i>
                    </div>
                </div>
                <div class="row pad-mar nrm-sch-hide-div" ng-hide="isGroupShown(group)">
                    <div class="col pad-mar">
                        <div class="nrm-sch-col">
                            <span>Replace</span>
                            <ul>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Engine Oil Filter
                                </li>
                            </ul>
                        </div>

                        <div class="nrm-sch-col">
                            <span>Leak Inspection</span>
                            <ul>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Cooling System
                                </li>
                            </ul>
                        </div>

                        <div class="nrm-sch-col">
                            <span>Inspect</span>
                            <ul>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Axle Shaft Oil Seal
                                </li>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Body Latches,Locks & Hingees
                                </li>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Engine Oil Filter
                                </li>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Engine Latches,Locks & Hingees
                                </li>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Axle Shaft Oil Seal
                                </li>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Body Latches,Locks & Hingees
                                </li>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Engine Oil Filter
                                </li>
                            </ul>
                        </div>

                        <div class="nrm-sch-col">
                            <span>Replace</span>
                            <ul>
                                <li>
                                    <i class="ion-ios-circle-filled dot-li"></i>Engine Oil Filter
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row pad-10">
                    <div class="col col-10 pad-mar">
                        <img src="img/carfox.png" width="60" height="60">
                    </div>
                    <div class="col col-90 pad-mar">
                        <h4 class="dont-h4">Not sure which maintenance schedule to follow ?</h4>
                    </div>
                </div>

            </div>
            <div class="content2" id="222">
                <div class="row">
                    <div class="col">
                        tab2
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
